In [107]:
#10.1 the web page I found is the results from my Winter Wrecker Powerlifting Meet

In [108]:
#10.2 I use bs4 to scrape a simple web page

In [109]:
#10.3 I use polite code and I will be describing my approach below

In [110]:
from bs4 import BeautifulSoup
import requests

In [111]:
url = 'https://www.openpowerlifting.org/m/usapl/VA-2023-17'

In [112]:
#I make sure that the data from the website is readable

In [113]:
page = requests.get(url)

In [114]:
#selecting all the data
table = BeautifulSoup(page.text, 'html')

In [115]:
#selecting all the headers
header_titles = table.find_all('th')

In [116]:
header_titles

[<th>Rank</th>,
 <th>Lifter</th>,
 <th>Sex</th>,
 <th>Age</th>,
 <th>Equip</th>,
 <th>Class</th>,
 <th>Weight</th>,
 <th>Squat</th>,
 <th>Bench</th>,
 <th>Deadlift</th>,
 <th>Total</th>,
 <th>Dots</th>]

In [117]:
#selecting the text from the headers
header_table_titles = [title.text for title in header_titles]

print(header_table_titles)

['Rank', 'Lifter', 'Sex', 'Age', 'Equip', 'Class', 'Weight', 'Squat', 'Bench', 'Deadlift', 'Total', 'Dots']

In [118]:
import pandas as pd

In [119]:
#making data frame
df = pd.DataFrame(columns = header_table_titles)

df

Empty DataFrame
Columns: [Rank, Lifter, Sex, Age, Equip, Class, Weight, Squat, Bench, Deadlift, Total, Dots]
Index: []

In [120]:
#getting my rows of data for my data frame
column_data = table.find_all('tr')

In [121]:
#putting all lifters data into the data frame
for row in column_data[1:]:
    row_data = row.find_all('td')
    individual_row_data = [data.text.strip() for data in row_data]
    
    length = len(df)
    df.loc[length] = individual_row_data

In [122]:
df

,Rank,Lifter,Sex,Age,Equip,Class,Weight,Squat,Bench,Deadlift,Total,Dots
0,1,Bomnorng Tek,M,31~,Raw,90,85.3,280,187.5,295,762.5,507.05
1,2,Zachary Broderick,M,27~,Raw,90,84.6,257.5,185,300,742.5,495.97
2,3,Gaoussou Coulibaly,M,22,Raw,100,94.8,260,187.5,325,772.5,487.06
3,4,Mason Sarra,M,20~,Raw,82.5,82.4,260,165,287.5,712.5,482.97
4,5,Evan Dunne,M,27~,Raw,90,87.5,275,175,275,725,475.62
...,...,...,...,...,...,...,...,...,...,...,...,...
180,181,Amy Knieriem,F,59~,Raw,67.5,66.3,67.5,40,97.5,205,213.86
181,182,Charles Bramble,M,65~,Raw,100,99.1,115,75,145,335,207.01
182,DQ,Brandon Cadena,M,21~,Raw,82.5,80.1,177.5,,225,,
183,DQ,Sameer Rahman,M,22~,Raw,75,71.7,,130,210,,
184,DQ,Justin Dubon Cinco,M,18~,Raw,90,89.9,,,,,

In [123]:
#create csv file
df.to_csv(r'\Users\allen\Documents\Python\INST 126\Final Project\WinterWrecker.csv', index = False)